*{
    padding: 0px;
    margin: 0px;
}
#stick{
    position:sticky;
    top: 0px;
    z-index: 2;
}
/* Negavition bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#navbar::before{
   content: "";
   background-color: rgb(0, 0, 0);
   position:absolute;
   height: 101%;
   width: 100%;
   z-index: -1;
   opacity: 0.5;
}
    #logo img{
        width: 81px;
        height: 99px;
        margin: 3px 6px;
       }
/* Negavition bar: style  */
#navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Mochiy Pop P One', sans-serif;
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

/* memories  */
#MEMORIES{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
#MEMORIES::before{
    content: "";
    background-color: rgb(237, 205, 240);
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
}
.mem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 184, 241);
    border: 2px solid rgb(226, 48, 226);
    border-radius: 25px;
    /* padding: 2px 2px; */
    width: 80%;
    height: 25vh;
    margin: 5px auto;
}
/* pics */
#PICS {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#PICS .img img{
    width: 100%;
    height: auto;
    border: 2px solid rgb(212, 0, 255);
    border-radius: 25px;
}
#PICS .img {
    margin: 1px 25px;
}
#PICS {
    position: relative;
}
#PICS::before{
    content: "";
    background-color: rgb(191, 121, 197);
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
}
/* .mem::before
    {
        content: "";
        background: url(https://images.unsplash.com/photo-1509909756405-be0199881695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21pbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
        position: absolute;
        height:100%;
        width: 100%;
        z-index: -2;
        opacity: 0.6;
    } */

.mem h2 {
    color: rgba(195, 0, 255,1);
    text-shadow: 1px 1px black;
     display: flex;
     width: 100%;
     height: 100%;
     border-radius: 25px;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     z-index: 0;
}
#mem1{
    background: url(https://images.unsplash.com/photo-1509909756405-be0199881695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21pbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem2{
    background: url(https://images.unsplash.com/photo-1516383607781-913a19294fd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNjaG9vbCUyMG1hdGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem3{
    background: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnJpZW5kc2hpcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem4{
    background: url(https://images.unsplash.com/photo-1556484687-30636164638b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bnVtYmVyJTIwZXhjaGFuZ2UlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem5{
    background: url(https://images.unsplash.com/photo-1495345679747-53991aedf9c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Zmlyc3QlMjBtZWV0dXAlMjBsb3ZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem6{
    background: url(#)no-repeat center center/cover;
}
#mem7{
    background: url(#)no-repeat center center/cover;
}
#mem8{
    background: url(#)no-repeat center center/cover;
}
#mem9{
    background: url(#)no-repeat center center/cover;
}
#mem10{
    background: url(#)no-repeat center center/cover;
}
