*{
    padding: 0px;
    margin: 0px;
}
#stick{
    position:sticky;
    top: 0px;
    z-index: 2;
}
/* Negavition bar  */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#navbar::before{
   content: "";
   background-color: rgb(0, 0, 0);
   position:absolute;
   height: 101%;
   width: 100%;
   z-index: -1;
   opacity: 0.5;
}
    #logo img{
        width: 81px;
        height: 99px;
        margin: 3px 6px;
       }
/* Negavition bar: style  */
#navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Mochiy Pop P One', sans-serif;
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

/* memories  */
#MEMORIES{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
#MEMORIES::before{
    content: "";
    background-image: linear-gradient( #f44336, #faff00, #ed0223,#ff00eb ,#3a38b9 ,#00ff32,#ff9800,#f200ff,red,#1a00cb,#a6ff00,#e6acf1,#3f51b5);
     position: absolute;
    height:100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
}
.mem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 184, 241);
    border: 2px solid rgb(226, 48, 226);
    border-radius: 25px;
    /* padding: 2px 2px; */
    width: 80%;
    height: 25vh;
    margin: 5px auto;
}
/* pics */
#PICS {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#PICS .img img{
    width: 100%;
    height: auto;
    border: 2px solid rgb(0 104 255);
    border-radius: 25px;
}
#PICS .img {
    margin: 1px 25px;
}
#PICS {
    position: relative;
}
#PICS::before{
    content: "";
    background-image: linear-gradient( #f44336, #faff00, #ed0223,#ff00eb ,#3a38b9 ,#00ff32,#ff9800,#f200ff,red,#1a00cb,#a6ff00,#e6acf1,#3f51b5);
     position: absolute;
    height:100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
}

.mem h2 {
    color: rgb(204 255 0);
    text-shadow: 0px 0px 20px rgb(0 0 0);   
     display: flex;
     width: 100%;
     height: 100%;
     border-radius: 25px;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     z-index: 0;
}
.mem h2::before {
    content: "";
    /* background: url(https://images.unsplash.com/photo-1509909756405-be0199881695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21pbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); */
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
}
#mem1{
    background: url(https://images.unsplash.com/photo-1509909756405-be0199881695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21pbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem2{
    background: url(https://images.unsplash.com/photo-1599113615507-13f78150fb2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW5qb3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem3{
    background: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnJpZW5kc2hpcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem4{
    background: url(https://images.unsplash.com/photo-1556484687-30636164638b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bnVtYmVyJTIwZXhjaGFuZ2UlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem5{
    background: url(https://images.unsplash.com/photo-1495345679747-53991aedf9c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Zmlyc3QlMjBtZWV0dXAlMjBsb3ZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem6{
    background: url(https://media.istockphoto.com/photos/woman-hugging-man-and-holding-home-keys-picture-id1158246435?b=1&k=20&m=1158246435&s=170667a&w=0&h=GPOnPU1R4EUKgbZZMXiNLOZG7MSkekEY2qcLIsbiS3A=)no-repeat center center/cover;
}
#mem7{
    background: url(https://media.istockphoto.com/photos/fingers-art-of-couple-in-quarrel-man-and-woman-swear-picture-id856578910?b=1&k=20&m=856578910&s=170667a&w=0&h=Msd4_UjS2aHFys5CIv-mVmqOXYBG1StDOCsRXRCxljY=)no-repeat center center/cover;
}
#mem8{
    background: url(https://images.unsplash.com/reserve/165aTVpzTXGMXu1azUdy_IMG_8468.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZpcnN0JTIwa2lzc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem9{
    background: url(https://images.unsplash.com/photo-1627462096565-b5973824a4f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Zmlyc3QlMjBraXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem10{
    background: url(https://media.istockphoto.com/photos/kid-negative-emotions-picture-id1310984814?b=1&k=20&m=1310984814&s=170667a&w=0&h=QC0tFIkOdmOTYiW2yK7X24x7W_W9-qhaT3dbNCRq2BM=)no-repeat center center/cover;
}
#mem11{
    background: url(https://images.unsplash.com/photo-1539464614836-672f5256d3a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGFjY2lkZW50YWwlMjBraXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem12{
    background: url(https://images.unsplash.com/photo-1604979425315-d07ff50dde6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGtpc3NpbmclMjBvbiUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#mem13{
    background: url(https://images.unsplash.com/photo-1507277197361-0a59220ee08d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGlwcyUyMHRvJTIwbGlwcyUyMGtpc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#memlove{
    background: url(https://images.unsplash.com/photo-1518199266791-5375a83190b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxvdmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}
#memhome{
    background: url(https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aGVhcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)no-repeat center center/cover;
}

video{
    align-items: center;
    overflow: hidden;
}


/* contact us  */
#contact{
    position: relative;
    }
#contact::before{
    content: "";
    background: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGNvbnRhY3QlMjB1c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    }
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.box .f1{
    font-size: 40px;
    font-family: 'Signika Negative', sans-serif;
    background-color:rgb(192, 221, 217);
    margin: 5px;
    border-radius: 15px;
}


/* footer */
footer{
    background-color: black;
    color: white;
}
    
 footer span a{
 text-decoration: none;
 color: white;
}
/* classes  */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Signika Negative', sans-serif;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family:'Baloo Bhai 2', cursive;;
}
.center{
    text-align: center;
}
@media (max-width:1200px) {
 /* conact us  */
.box {
    overflow: hidden;
 }
 .box .f1{
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(192, 221, 217);
    margin: 3px;
    border-radius: 10px;
 }
 /* utlity */
 .h-primary{
    font-size: 2.2rem;
 }
 .h-secondary{
    font-size: 1.8rem;
   
}
}
